{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 80,
  "semi": true,
  "experimentalTernaries": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "insertPragma": false,
  "requirePragma": false,
  "embeddedLanguageFormatting": "auto"
}